body {
	font-family: Arial, sans-serif;
	margin: 40px;
	background-color: #f5f5f5;
	color: #222;
	text-align: center;

}

h1 {
	color: #af6cee;
}

h2 {
	font-size: 15px;
}

.header {
	background-color: rgb(0, 255, 204);
}
